.SourcePage{
  width:100%;
  height:80%;
}
.SourcePage_title{
  text-align: center;
}
.SourcePage_title a{
  color:black;
  text-decoration:none;
}
.SourcePage_title h1{
  margin:0;
  padding-top:40px;
  padding-bottom:40px;
}

@media screen and (max-width: 768px) {
  .SourcePage_title h1{
    font-size:20px;
  }
}

.SourcePage_img img{
  width:90%;
  height:80%;
}
@media screen and (max-width: 768px) {
  .SourcePage_title img{
    height:60%;
  }
}
.SourcePage_img{
    text-align: center;
}

/*回頂按鈕*/
.scrollup2 {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url('images/small-up-arrows-in-a-circle1.png') no-repeat;
    background-size:40px 40px;
    /*background-color: #000;*/
}
.scrollup2:hover{
    background: url('images/small-up-arrows-in-a-circle.png') no-repeat;
    background-size:40px 40px;
}
